body {
    font: 16px/1.5 Hevetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    padding: 2em;
}

article {
    width: 70%;
    display: inline-block;
    margin-right: 4%;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

ul {
    margin-left: 0.2em;
}