body {
    background-color: lightgray;
    padding: 2rem;
    display: flex;
}

.gallery ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 9rem;
}

.gallery ul li {
    display: flex;
    
}

.gallery ul li img {
    padding: 1rem;
    background-color: white;
    border: 3px solid black;
}