<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Battleships Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="body-main">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top rounded">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item" th:if="${!@loggedUser.isLogged()}">
                    <a class="nav-link" th:href="@{/user/login}">Login</a>
                </li>
                <li class="nav-item" th:if="${!@loggedUser.isLogged()}">
                    <a class="nav-link" th:href="@{/user/register}">Register</a>
                </li>
                <li class="nav-item active" th:if="${@loggedUser.isLogged()}">
                    <a class="nav-link" th:href="@{/ship/add}">Add Ship</a>
                </li>
                <li class="nav-item" th:if="${@loggedUser.isLogged()}">
                    <a class="nav-link" th:href="@{/user/logout}">Logout</a>
                </li>
            </ul>
            <img width="50px" src="/images/ufo.png" alt="Ufo image">
        </div>
    </nav>
</header>
<main role="main">
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded border-white pl-3 font-weight-bold">Add New Ship</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form th:action="@{/ship/add}" th:method="POST" th:object="${addShipDTO}"
                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name"
                               aria-describedby="nameHelpInline" placeholder="Name" th:field="*{name}" th:errorclass="bg-danger">
                        <small id="nameHelpInline" class="bg-danger text-light rounded" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="power" class="col-sm-2 col-form-label">Power</label>
                    <div class="col-sm-10">
                        <input type="number" step="1" class="form-control" id="power"
                               aria-describedby="powerHelpInline" th:field="*{power}" th:errorclass="bg-danger">
                        <small id="powerHelpInline" class="bg-danger text-light rounded" th:if="${#fields.hasErrors('power')}" th:errors="*{power}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="health" class="col-sm-2 col-form-label">Health</label>
                    <div class="col-sm-10">
                        <input type="number" step="1" class="form-control" id="health"
                               aria-describedby="healthHelpInline" th:field="*{health}" th:errorclass="bg-danger">
                        <small id="healthHelpInline" class="bg-danger text-light rounded" th:if="${#fields.hasErrors('health')}" th:errors="*{health}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="created" class="col-sm-2 col-form-label">Created date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="created"
                               aria-describedby="createdHelpInline" th:field="*{created}" th:errorclass="bg-danger">
                        <small id="createdTimeHelpInline" class="bg-danger text-light rounded" th:if="${#fields.hasErrors('created')}" th:errors="*{created}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select id="category" name="category" class="custom-select"
                                aria-describedby="categoryHelpInline" th:field="*{category}" th:errorclass="bg-danger">
                            <option value="" disabled>Category</option>
                            <option value="Battle">Battle</option>
                            <option value="Cargo">Cargo</option>
                            <option value="Patrol">Patrol</option>
                        </select>
                        <small id="categoryHelpInline" class="bg-danger text-light rounded" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></small>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger w-50">Add the new Ship</button>
            </form>
        </div>
    </div>
</main>
<footer class="container text-white">
    <p>&copy;SoftUni Spring Team 2021. All rights reserved.</p>
</footer>
</body>
</html>