html {
    font-family: Helvetica, sans-serif;;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-direction: column;
}

.container > span {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
}

